{% for type in sonata_flashmessages_types() %}
    {% set domain = domain is defined ? domain : null %}
    {% set messages = sonata_flashmessages_get(type, domain) %}
    {{ encore_entry_script_tags('helpers/toaster') }}
    {{ encore_entry_link_tags('helpers/toaster') }}
    {% if messages|length > 1 %}
    {# @Todo change toaster.js to display all toaster notifications #}
        {% for message in messages %}
        <div 
            id="get_own_toaster" 
            data-type-toastr="{{ type|sonata_status_class }}" 
            data-messages-toastr="{{ message|json_encode() }}"
            data-close-toastr="{{ 'message_close'|trans({}, 'SonataCoreBundle') }}">
        </div>
        {% endfor %}
    {% elseif messages|length == 1 %}
        <div 
            id="get_own_toaster" 
            data-type-toastr="{{ type|sonata_status_class }}" 
            data-messages-toastr="{{ messages|json_encode() }}"
            data-close-toastr="{{ 'message_close'|trans({}, 'SonataCoreBundle') }}">
        </div>
    {% endif %}
{% endfor %}
