{% extends "front/layout/default.html.twig" %}

{% block after_stylesheets %}

    {{ encore_entry_link_tags('front/pages/security/register') }}

{% endblock %}

{% block body %}

    <default-header title="Default Register Page"></default-header>

    <div id="register" class="container">

        <register></register>
        
        <form method="post">

            <h1 class="h3 mb-3 font-weight-normal">{% trans from 'security' %}register.new.account{% endtrans %}</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword.first) }}
                {{ form_row(registrationForm.plainPassword.second) }}
                
                <div class="form-group form-check">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms) }}
                </div>

                <button class="btn btn-lg btn-primary" type="submit">{% trans from 'security' %}register.submit{% endtrans %}</button>
            {{ form_end(registrationForm) }}

        </form>
    </div>

{% endblock %}

{% block after_javascripts %}

    {{ encore_entry_script_tags('front/pages/security/register') }}

{% endblock %}
