{% extends "front/layout/default.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    {{ encore_entry_link_tags('account/app') }}

{% endblock %}

{% block body %}

    <div id="account" class="container">

        {% if app.user %}
            <h1 class="h3 mb-3 font-weight-normal">You are logged in as {{ app.user.username }}, 
            <a href="{{ path('app_logout') }}">Logout</a></h1>
        {% endif %}

        {# global component in app.js #}
        {# <default></default>  #}
        <account></account>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('account/app') }}

{% endblock %}
